.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

.app-container.loading {
  opacity: 0;
  height: 100vh;
  overflow: hidden;
}

main {
  flex: 1;
  width: 100%;
}
